img{
    width: 300px;
    height: 300px;

}
dl{
    width: 300px;
    float: left;
    border: 1px solid gray;
    margin: auto;
}
dd{
    font-size: large;
}
.pricedetail{
    font-family: Arial,Verdana,sans-serif;
    float: left;
    color: #f40;

}